/* Redefinir colores */
.btnColor {
    background-color: #83b53eff !important;
    border-color: #83b53eff !important;
}

.colorBarra {
    background-color: #343a40ff;
}

.footColor {
    background-color: #253a46ff;
}

.anchoEspecifico{
    width: 46rem
}